<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StayPositive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>929984FC1F49F96300DF4167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>929985101F49F96400DF4167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9299851B1F49F96400DF4167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
