<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028676756400-dhf2cjoo7enalfbf7amkmosi8abvhirb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028676756400-dhf2cjoo7enalfbf7amkmosi8abvhirb</string>
	<key>API_KEY</key>
	<string>AIzaSyDvaHuxkA-bSQu0NO7fFqPoNafcYFQzvcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1028676756400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StayPositive</string>
	<key>PROJECT_ID</key>
	<string>staypositive-a3bb0</string>
	<key>STORAGE_BUCKET</key>
	<string>staypositive-a3bb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028676756400:ios:6cbc9d1597e2239e</string>
	<key>DATABASE_URL</key>
	<string>https://staypositive-a3bb0.firebaseio.com</string>
</dict>
</plist>